*.iws
*.iml
*.ipr
target/
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
~*
.metadata
/.settings
/batch/.classpath
/batch/.project
/batch/.settings
/batch/target
/infra/.project
/infra/.settings
/infra/target
/infra/.classpath
/lang/.classpath
/lang/.settings
/lang/target
/market/.project
/market/.settings
/user/.project
/user/.settings
/user/target
/user/.classpath
/web/.project
/web/.settings
/web/target
/web/.classpath
